target/**
build/**
.classpath
README.md
.settings/**
*.class                                         
RATMS/{bin => }/.gitignore                         
RATMS/bin/.project 
RATMSBuild/.settings/org.eclipse.jdt.core.prefs    
RATMSBuild/bin/.project                            
.../bin/.settings/org.eclipse.core.resources.prefs 
.../bin/.settings/org.eclipse.jdt.core.prefs       
.../bin/.settings/org.eclipse.m2e.core.prefs
**/.project
**/*.class
**/.settings/**
RATMSWeb/.settings/
RATMSWeb/target/
RATMSBuild/.settings/
RATMS/.settings/
RATMS/target/
RATMS/.project
RATMSBuild/.project
RATMSWeb/.project